@import url(http://fonts.googleapis.com/css?family=Raleway);

#link,

#link ul,

#link ul li,

#link ul li a 
{
  margin: 0;
  padding: 0;
 
 border: 0;
  list-style: none;
  

 display: block;

  position: relative;
 
 -webkit-box-sizing: border-box;
 
 -moz-box-sizing: border-box;
 
 box-sizing: border-box;
}

#link:after,
#link > ul:after 
{
  content: ".";
  
display: block;
 
 clear: both;
  
visibility: hidden;
 
 line-height: 0;
 
 height: 0;
}

#link {
 
 width: auto;
 font-family: Raleway, sans-serif;
line-height: 1;
}

#link > ul > li {
  float: left;
}
#link.align-center > ul
 {
  font-size: 0;
  text-align: center;
}
#link.align-center > ul > li {
 
 display: inline-block;
  float: none;
}
#link.align-right > ul > li {
  float: right;
}
#link.align-right > ul > li > a
 {
  margin-right: 0;
  margin-left: -4px;
}
#link > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
 
 font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
 
 -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
 
 margin-right: -4px;
}
#link > ul > li.active > a,
#link > ul > li:hover > a,
#link > ul > li > a:hover 
{
  color: #ffffff;
}
#link > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
 
 z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
 
 -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#link > ul > li.active > a:after,
#link > ul > li:hover > a:after,
#link > ul > li > a:hover:after 
#link > ul > li > a:visited:after 
{
  
}
#link > ul > li > a:hover { 

	text-decoration:none;color:#4CAF50;
	font-weight:bold;

}
#abt{
width: 500px; float:left; margin-left:150px; font-size:180%;margin-top:100px;
}
#log{
clear:both; color:#A0522D; transform: rotate(-10deg); margin-top:10px; transform-origin: left top 0; font:semi-condensed;
}
#form{
background-color:#FFC; width:800px; height:360px; margin: 0 auto;
}
#hady{
background-color:#ffd; width:100%;   clear:both;

}
#logos{
float:right; width:500px; height:90px; clear:both; margin-top:-90px; position:top right;
}
input
{
  -moz-border-radius: 4px;
 border-radius: 8px;
    border:solid 1px gray;
    padding:5px;
}







