body {
font-family: Arial;
font-size: 14px;
}
img {
	padding: 3px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);border: 1px solid #FFFFFF;border-radius: 4px; margin: 20px;
}
.frmImageUpload {
background-color: #F9D735;
width:400px;
padding:10px;
}
.frmImageUpload label{
font-weight: bold;
color: #A0A0A0;
}
.btnSubmit {
background-color: #3FA849;
padding:4px;
border: #3FA849 1px solid;
color: #FFFFFF;
}
.inputFile {
padding: 3px;
background-color: #FFFFFF;
}
#popupbox{
margin: 0; 
margin-top: 50px; 
padding-top: 10px;  
height: 0px auto;  
background: #DCDCDC; 
border: solid #000000 2px; 
z-index: 9; 
font-family: arial; 
visibility: hidden; 
position:absolute;
width:600px;
top: 50%;
left: 50%;
margin-left: -400px;
margin-top: -40px;
}

#whole fieldset{
width: 80%;	
height: 90%;
margin: 0px auto;
}

#whole h1{ color: #ADD8E6; }
#whole h2{ color: #FFA500; }
